h1{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;  
  color: white;
  background-color: tomato;
  
}

.navbar {
  overflow: hidden;
  background-color: #333;  
  bottom: 0;
  width: 100%;  
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.navbar {
  overflow: hidden;
  background-color: #333;  
  bottom: 0;
  width: 100%;  
  position: sticky;
  top: 0;
}


.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


 
p
{
  font-family: cursive;
  font-size: large;
  color: black;
  

}
body {
  background-color: lightyellow;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;

}

div.gallery:hover {
  border: 5px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 25px;
  text-align: center;
  color:grey;
  font-size: large;
  float: right;

}
.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   //height: : 1%;
   background-color: tomato;
   color: blue;
   text-align: center;
}
div.satisfaction {
 float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 9px;
 border: 4px solid #ccc;
}
div.supporter {
 float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 7px;
 border: 4px solid #ccc;
}


}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


 
p
{
  font-family: cursive;
  font-size: large;
  color: black;
  

}
body {
  background-color: lightyellow;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;

}

div.gallery:hover {
  border: 5px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 25px;
  text-align: center;
  color:grey;
  font-size: large;
  float: right;

}
.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   //height: : 1%;
   background-color: tomato;
   color: blue;
   text-align: center;
}
div.satisfaction {
 float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 9px;
 border: 4px solid #ccc;
}
div.supporter {
 float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 7px;
 border: 4px solid #ccc;
}

